@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@font-face {
  font-family: 'Montserrat-UltraLight';
  src: url("../fonts/Montserrat-UltraLight.eot");
  src: local("☺"), url("../fonts/Montserrat-UltraLight.woff") format("woff"), url("../fonts/Montserrat-UltraLight.ttf") format("truetype"), url("../fonts/Montserrat-UltraLight.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; }

.main-container {
  max-width: 1230px;
  /*МАКСИМАЛЬНА ШИРИНА КОНТЕЙНЕРА*/
  height: 100%;
  /*КОНТЕЙНЕР ЙДЕ НА ВСЮ ВИСОТУ НАСКРІЗЬ*/
  margin: 0 auto;
  /*вирівнювання контейнера по горизонталі*/
  padding-left: 30px;
  padding-right: 30px;
  background-color: rgba(106, 105, 83, 0.576); }

.header {
  height: 1024px;
  width: 100%;
  background: url("/img/photo.png") no-repeat;
  block-size: cover;
  background-position: 50%;
  background-color: #8a8a7f; }

.header__nav-row {
  height: 60px;
  padding-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #2ad61b; }

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.logo-svg {
  width: 64px;
  height: 56px; }

.logo-text {
  color: white;
  font-family: "Raleway", sans-serif;
  font-size: 34px;
  font-weight: 400;
  letter-spacing: -1.4px; }

.header__nav {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.header__navlink {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 300;
  margin-right: 32px; }

.header__navlink_active {
  color: #eeb166;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 300; }

.header__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.header__search {
  margin-left: 28px; }

.header__text {
  max-width: 590px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-top: 285px; }

.header__subtitle {
  color: white;
  font-family: "Raleway", sans-serif;
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 14px; }

.header__title {
  color: white;
  font-family: "Raleway", sans-serif;
  font-size: 52px;
  font-weight: 800;
  margin-bottom: 19px; }

.header__descr {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  margin-bottom: 52px; }

.header__text-btn {
  color: white;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 800;
  line-height: 23px;
  text-transform: uppercase;
  padding: 21px 39px 21px 37px;
  background-color: #998675;
  -webkit-box-shadow: inset 0 -3px 0 #736357;
          box-shadow: inset 0 -3px 0 #736357;
  border-radius: 3px; }

.product-block {
  min-height: 1073px;
  width: 100%;
  background-color: #938d8d; }

.products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 163px; }

.products__item {
  max-width: 266px; }

.products__logo {
  height: 44px;
  width: 44px; }

.products__title {
  margin-top: 29px;
  color: #555555;
  font-family: "Raleway", sans-serif;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 19px; }

.products__subtitle {
  color: #8c8c8c;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  margin-bottom: 33px; }

.products__bottom-line {
  width: 70px;
  height: 3px; }

.products-descr {
  max-width: 770px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.products_descr-title {
  color: #555555;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 30px;
  margin-bottom: 24px; }

.products_descr-descr {
  color: #8c8c8c;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  margin-bottom: 40px;
  text-align: center; }

.products_descr-img {
  height: 482px; }

.purchase-block {
  min-height: 150px;
  background-color: #3b2921; }

.purchase-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 150px; }

.purchase-title {
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-size: 28px;
  font-weight: 400;
  margin-bottom: 10px; }

.purchase-subtitle {
  color: #615855;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 4 00; }

.purchase-btn {
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 800;
  line-height: 23px;
  text-transform: uppercase;
  padding: 19px 29px 20px 28px;
  -webkit-box-shadow: inset 0 -3px 0 #736357;
          box-shadow: inset 0 -3px 0 #736357;
  border-radius: 3px;
  background-color: #998675; }

.latest-projects {
  background-color: #3aa0b9; }

.latest-projects__text-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ae3030; }

.latest-projects__title {
  color: #555555;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 30px;
  text-align: center;
  margin-top: 80px; }

.latest-projects__descr {
  color: #8c8c8c;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  text-align: center;
  max-width: 757px;
  margin-top: 24px;
  margin-bottom: 40px; }

.latest-projects__tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff; }

.latest-projects__tab-item {
  margin-right: 55px;
  color: #8c8c8c;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  padding: 10px 23px 8px 24px;
  border-radius: 3px;
  border: 1px solid #ebebeb;
  margin-bottom: 20px;
  background-color: #020101; }

.latest-projects__examples {
  background-color: #c6e763; }
/*# sourceMappingURL=style.css.map */