.main-container {
    max-width: 1230px;
    height: 100%;
    background-color: rgba(106, 105, 83, 0.576);
    margin: 0 auto;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
}