.product-block {
    min-height: 1073px;
    width: 100%;
    background-color: rgb(147, 141, 141);
}
.main-container {}

.products {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 163px;
    // background-color: rgb(135, 236, 92);
}
.products__item {
    max-width: 266px;
    // background-color: rgb(209, 203, 82);
}
.products__logo {
    height: 44px;
    width: 44px;

}
.products__title {
    margin-top: 29px;
    color: rgb(85, 85, 85);
    font-family:"Raleway", sans-serif;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 19px;
}
.products__subtitle {
    color: #8c8c8c;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    margin-bottom: 33px;
}
.products__bottom-line {
    width: 70px;
    height: 3px;
}
.products-descr {
    max-width: 770px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    flex-direction: column;
    // background-color: rgb(158, 67, 188);
}
.products_descr-title {
    color: #555555;
    font-family:"Raleway", sans-serif;
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 24px;
}
.products_descr-descr {
    color: #8c8c8c;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    margin-bottom: 40px;
    text-align: center;
}
.products_descr-img {
    height: 482px;
}